{% extends 'base.html' %}

{% block title %} Home {%endblock title%}

{% block content %}
    <div class = "jumbotron ">
        <h1 class = "display-4">University Projects</h1>
        <p class = "lead"> University is a place to foster creative ideas and explore unique pathways.</p>
        <p class = "lead"> Univeristy Projects is a website to connect students with like-minded individuals to work on projects that inspire them.</p>
        <p class = "lead">
            <a class = "btn btn-primary btn-lg" href = "{% url 'post_list' %}" role = "button"> View All Job Postings</a>
        </p>
    </div>
{% endblock content%}