{% extends 'base.html' %}

{% block content %}
<div class = "container align-left">
  <div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
  </div>
  
  {% if post.author.pk == request.user.pk %}
    <p><a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a></p>
  {% endif %}
  <p>Back to <a href="{% url 'post_list' %}">Job Postings</a></p>

  <h3> Comments </h3>
  {% for comment in post.comments.all %}
    <p>
      <span class = "font-weight-bold"> {{ comment.author}} | </span>
      {{comment}}
    </p>
  {% endfor %}
  <p><a href="{% url 'comment_new' post.pk%}">Create New Comment</a></p>
</div>
{% endblock content %}